{% extends 'base.html' %}
{% block body %}
<!-- accounts/signup.html -->

<div class="todo">
    <div class="todo_content">
        <h2>新規登録</h2> <!-- タイトルを追加 -->

        <form method="post" action="">
            {% csrf_token %}
            {% if form.errors %}
                <div class="form-errors">
                    <p>以下のエラーが発生しました:</p>
                    <ul>
                        {% for field, errors in form.errors.items %}
                            <li>{{ field }}: {{ errors|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="form-group">
                <p for="{{ form.username.id_for_label }}" class="form-label">ユーザー名</p>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <p for="{{ form.email.id_for_label }}" class="form-label">メールアドレス</p>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <p for="{{ form.password1.id_for_label }}" class="form-label">パスワード</p>
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="error">{{ form.password1.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <p for="{{ form.password2.id_for_label }}" class="form-label">パスワード確認</p>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="error">{{ form.password2.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn">登録</button>
        </form>
    </div>
</div>

<style>
.todo {
    width: 80%;
    max-width: 500px; /* 最大幅を設定 */
    margin: auto;
    text-align: center;
    padding: 20px; /* パディングを追加 */
    background: #f9f9f9; /* 背景色を追加 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ボックスシャドウを追加 */
    border-radius: 10px; /* 角を丸く */
}

.todo_content h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: center; /* ラベルとエラーメッセージを左揃えに */

}

.form-label {
    font-weight: bold;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #f9c5b8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

.form-errors {
    margin-bottom: 20px;
    color: red;
    font-size: 0.9em;
}

.error {
    color: red;
    font-size: 0.9em;
}

input {
    width: 70%;
    padding: 8px;
}

div#menu-toggle {
    display: none;
}
.hamburger {
    position: static;
}
</style>

{% endblock %}