{% extends 'base.html' %}
{% block body %}
<!-- accounts/signup.html -->

<div class="todo">
    <div class="todo_content">
        <h1 style="font-size: 2vw; background-color: #eabab9; margin: 0; padding: 18px  0; color: white;">SIGNUP</h1>
        <form method="post" action="">
            {% csrf_token %}
            {% if form.errors %}
                <div class="form-errors">
                    <p>以下のエラーが発生しました:</p>
                    <ul>
                        {% for field, errors in form.errors.items %}
                            <li>{{ field }}: {{ errors|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="form-group">
                <p for="{{ form.username.id_for_label }}">ユーザー名</p>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <p for="{{ form.email.id_for_label }}">メールアドレス</p>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <p for="{{ form.password1.id_for_label }}">パスワード</p>
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="error">{{ form.password1.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <p for="{{ form.password2.id_for_label }}">パスワード確認</p>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="error">{{ form.password2.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn">登録</button>
        </form>
    </div>
</div>
{% endblock %}


